[data-md-color-scheme="slate"] {
  --md-default-bg-color: #0F172A;
  --md-default-fg-color: #F8FAFC;
  --md-default-fg-color--light: #94A3B8;
  --md-primary-fg-color: #1E293B;
  --md-accent-fg-color: #22D3EE;
  --md-typeset-a-color: #38BDF8;
}